@{
  SelectList list = Model["selectList"];
  VehicleMechanic vm = Model["joinEntity"];
  int vehicleId = Model["vehicle"].VehicleId;
}

@if (list.Count() == 0)
{
  <select disabled>
    <option>No Mechanics Available</option>
  </select>
    <button type="submit" disabled>Assign</button>
}
else
{
<form asp-controller="Vehicles" asp-action="AssignMechanic" method="post">
  <input asp-for=@vm.VehicleId value=@vehicleId type="hidden" />
  <select asp-for=@vm.MechanicId asp-items=@list></select>
  <button type="submit">Assign</button>
</form>
}

