@{
  Vehicle v = Model["vehicle"];
  SelectList list = Model["selectList"];
  int count = list.Count();
}

<h1>@v.YearMakeModelPlate</h1>
<h5>Added @v.DateAdded.ToString("D")</h5>
<p>@v.Condition</p>
<a asp-controller="Vehicles" asp-action="Edit" asp-route-id=@v.VehicleId><button>Edit</button></a>
<form asp-controller="Vehicles" asp-action="Delete" asp-route-id=@v.VehicleId method="post">
  <button type="submit">Delete</button>
</form>
<hr />
@await Html.PartialAsync("_AssignMechanic")
<hr />
@await Html.PartialAsync("_UnassignMechanic", v)
