<h1>Vehicles</h1>
    <nav id="nav-left">
      <a asp-controller="Vehicles" asp-action="Create">
        <li class="btn-nav">Add New</li>
      </a>
    </nav>
<hr />
@await Html.PartialAsync("_VehicleList")
