@model List<Client>

<ul class="list-group">
@if (Model.Count == 0)
{
  <li class="list-item">No clients have been added.</li>
}

@foreach (Client client in Model)
{
  <li class="list-item"><div><a asp-controller="Clients" asp-action="Details" asp-route-id=@client.ClientId>@client.Name</a> - Stylist: @client.Stylist.Name</div></li>
}
</ul>
