<header id="header">
  <div id="headerOne">
  <a asp-controller="Home" asp-action="Index"><h1>AutoFactory</h1></a>
  </div>
  <div id="headerTwo">
  @await Html.PartialAsync("_Navigation")
  </div>
</header>
