@model List<Mechanic>

<table class="table">
  <thead>
    <th scope="col">Name</th>
    <th scope="col">Makes</th>
    <th scope="col">Vehicles</th>
  </thead>
  <tbody>
    @foreach (Mechanic mechanic in Model)
    {
      <tr class="table-row">
        <td>
          <a class="expanded" asp-controller="Mechanics" asp-action="Details" asp-route-id=@mechanic.MechanicId>
          </a>
            @mechanic.FirstName @mechanic.LastName

        </td>
        <td>@mechanic.MakeMechanics.Count</td>
        <td>@mechanic.VehicleMechanics.Count</td>
      </tr>
    }
  </tbody>
    <tfoot>
  @if (Model.Count == 0)
    {
      <tr class="table-row" ><th colspan="3">No mechanics have been added.</th></tr>
    }
  </tfoot>
</table>
