<nav id="nav">
      <a asp-controller="Mechanics" asp-action="Index">
        <li class="btn-nav">Mechanics</li>
      </a>
      <a asp-controller="Vehicles" asp-action="Index">
        <li class="btn-nav">Vehicles</li>
      </a>
      <a asp-controller="Makes" asp-action="Index">
        <li class="btn-nav">Makes</li>
      </a>
</nav>
