<nav id="nav">
    <a asp-controller="Stylists" asp-action="Index" class="button drop-button btn-nav"><li>Stylists</li></a>
  <div id="dropdown1" class="drop-content">
    <a asp-controller="Stylists" asp-action="Create" ><li class="button btn-nav">Add New</li></a>
  </div>
  <a asp-controller="Clients" asp-action="Index" class="button drop-button btn-nav"><li >Clients</li></a>
  <div id="dropdown2" class="drop-content">
  <a asp-controller="Clients" asp-action="Create"><li class="button btn-nav">Add New</li></a>
  </div>
</nav>
