<nav id="nav">
    <a asp-controller="Mechanics" asp-action="Index"><li>Mechanics</li></a>
    <a asp-controller="Mechanics" asp-action="Create" ><li class="button btn-nav">Add New</li></a>
  <a asp-controller="Vehicles" asp-action="Index"><li >Vehicles</li></a>
  <a asp-controller="Vehicles" asp-action="Create"><li class="button btn-nav">Add New</li></a>
</nav>
