@{
  string controller = Model["controller"];
  string action = Model["action"];
  string method = Model["method"];
  string query = Model["query"];
}

<div class="SearchAndFunctionBar">
  <a asp-controller=@controller asp-action="Create" class="button">Add New</a>
  <form asp-controller=@controller asp-action=@action method=@method>
    <input asp-for=@query placeholder="Search" disabled></input><button class="button" type="Submit" disabled>Search</button>
  </form>
</div>
