@model List<Make>

<table class="table">
<thead>
    <th scope="col">Name</th>
    <th scope="col">Mechanics</th>
    <th scope="col">In Shop</th>
</thead>
  <tbody>
    @foreach (Make m in Model)
    {
      <tr class="table-row">
        <td>
          <a class="expanded" asp-controller="Makes" asp-action="Details" asp-route-id=@m.MakeId>
          </a>
            @m.Name
        </td>
        <td>@m.MakeMechanics.Count</td>
        <td>@m.MakeVehicles.Count</td>
      </tr>
    }
  </tbody>
    <tfoot>
  @if (Model.Count == 0)
    {
      <tr class="table-row" ><th colspan="3">No makes have been added.</th></tr>
    }
  </tfoot>
</table>
