@model Make
@{
  List<Vehicle> vehicles = Model.MakeVehicles.Select(mv => mv.Vehicle).ToList();
  List<Mechanic> mechanics = Model.MakeMechanics.Select(mv => mv.Mechanic).ToList();
}

<h1>@Model.Name</h1>
<nav id="nav" class="nav-left">
  <a asp-controller="Makes" asp-action="Edit" asp-route-id="@Model.MakeId">
    <li class="btn-nav">Edit</li>
  </a>
</nav>
<hr />
<h3>Vehicles In Shop</h3>
@await Html.PartialAsync("_VehicleList", vehicles)
<h3>Licensed Mechanics</h3>
@await Html.PartialAsync("_MechanicList", mechanics)
