@model Mechanic


<h1>@Model.LastName, @Model.FirstName</h1>
<h5>Added @Model.DateAdded.ToString("D")<h5/>
<p>@Model.About</p>
<a asp-controller="Mechanics" asp-action="Edit" asp-route-id=@Model.MechanicId><button>Edit</button></a>
<form asp-controller="Mechanics" asp-action="Delete" asp-route-id=@Model.MechanicId method="post">
  <button type="submit">Delete</button>
</form>
