@model List<Mechanic>
<h1>Mechanics</h1>
    <nav id="nav-left" class="">
      <a asp-controller="Mechanics" asp-action="Create">
        <li class="btn-nav">Add New</li>
      </a>
    </nav>
<hr />
@await Html.PartialAsync("_MechanicList", Model)
